{% extends 'layout.html' %} {% block content %}
<div class="space"></div>
<section class="employee-view-intro">
  <img src="https://placehold.co/500x500" alt="{{employee.first_name}}" />
  <h1>{{employee.first_name.title()}} {{employee.last_name.title()}}</h1>
  <p>
    Employee details can only be modified by the user themselves on their
    account settings page.
  </p>
  <p>
    <i
      >The user will need to change their temporary password after logging
      in.</i
    >
  </p>
</section>
<section class="employee-details">
  <form action="{{url_for('reset', emp_id=employee.user_id)}}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="submit" value="Reset password" />
  </form>
  <div class="space"></div>
  <form
    action="{{url_for('delete_employee', emp_id=employee.user_id)}}"
    method="post"
  >
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="submit" value="Delete Account" />
  </form>
</section>
{% endblock content %}
