.header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.header-logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-div img{
    width:50px;
}

.navigation-bar{
    display: none;
}

.mobile-nav-button{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 2px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.mobile-nav-button > span{
    border-radius: 10px;
    width: 95%;
    height: 3px;
    background: orangered;
    display: block;
    transition: all ease-in-out .5s;
}

.mobile-nav-button span:nth-child(1){
    transform: translateY(5px);
}

.mobile-nav-button span:nth-child(2){
    transform: translateY(12.5px);
}

.mobile-nav-button span:nth-child(3){
    transform: translateY(20px);
}


/* .mobile-nav-button.active span:nth-child(1) { */
    /* transform: translateY(12.5px); */
    /* transform: rotate(135deg); */
/* } */
/*  */
/* .mobile-nav-button.active span:nth-child(2) { */
    /* opacity: 0; */
/* } */
/*  */
/* .mobile-nav-button.active span:nth-child(3) { */
    /* transform: translateY(12.5px); */
    /* transform: rotate(45deg); */
/* } */


.navigation-bar p{

}

.nav-item{

}

.nav-item-bottom{

}

.nav-item:hover .nav-item-bottom{

}


/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {

}

/* Desktop */

@media screen and (min-width: 1000px){
    .mobile-nav-button{
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: white;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .header-logo-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-logo-div img {
        width: 50px;
    }

    .navigation-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .navigation-bar p {
        color: black;
        font-weight: bold;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
    }

    .nav-item-bottom {
        width: 1px;
        opacity: 0;
        border: 1px solid orangered;
        transition: width .7s ease-in-out, opacity .7s ease-in-out;
    }

    .nav-item:hover .nav-item-bottom {
        width: 100%;
        opacity: 1;
    }
}