.header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.header-logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-div img{
    width:50px;
}

.navigation-bar{
    display: none;
}

.mobile-nav-button{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 2px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.mobile-nav-button > span{
    border-radius: 10px;
    width: 95%;
    height: 3px;
    background: orangered;
    position: relative;
    transition: all ease-in-out .2s;
}

.mobile-nav-button span:nth-child(1){
    transform: translateY(5px);
}

.mobile-nav-button span:nth-child(2){
    transform: translateY(12.5px);
}

.mobile-nav-button span:nth-child(3){
    transform: translateY(20px);
}

.mobile-nav-button.active span:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
    background: black;
}

.mobile-nav-button.active span:nth-child(2) {
    opacity: 0;
}

.mobile-nav-button.active span:nth-child(3) {
    transform: translateY(10px) rotate(-45deg);
    background: black;
}

.navigation-bar.active{
    background-color: white;
    position: fixed;
    top: 75px;
    left:0px;
    width: 100vw;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

@keyframes swaying {
    0%{
        width: 70%;
    }
    50%{
        width: 85%;
    }
    100%{
        width: 70%;
    }
}

.nav-item-bottom{
    width: 70%;
    border: 1.5px solid black;
    height: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: swaying infinite ease-in-out 2.5s;
    transition: width .7s ease-in-out, opacity .7s ease-in-out;
}

.navigation-bar.active > .nav-item{
    font-weight: bold;
    color: orangered;
    display: flex;
    gap: 5px;
    align-items: center;
}


/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {
    .nav-item-bottom {
            width: 80%;
            border: 1.5px solid black;
            height: 1px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            animation: none;
            transition: none;
        }
}

/* Desktop */

@media screen and (min-width: 1000px){

    .mobile-menu-span{
        display: none;
    }

    .mobile-nav-button{
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: white;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .header-logo-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-logo-div img {
        width: 50px;
    }

    .navigation-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .navigation-bar p {
        color: black;
        font-weight: bold;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
    }

    .nav-item-bottom {
        width: 1px;
        opacity: 0;
        border: 1px solid orangered;
        animation: none;
        transition: width .7s ease-in-out, opacity .7s ease-in-out;
    }

    .nav-item:hover .nav-item-bottom {
        width: 100%;
        opacity: 1;
    }
}