{% extends 'layout.html' %} {% block content %}
<div class="space"></div>
<section class="add-stock-page-intro">
  <h1>Add New Stock</h1>
  <p>This is to add stock that is considered new.</p>
</section>
<section class="add-stock-form">
  <!-- <div> -->
  <!-- <p class="form-error"></p> -->
  <!-- </div> -->
  <form
    action="{{ url_for('add_stock') }}"
    method="post"
    enctype="multipart/form-data"
    required
  >
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <label for="image">Upload image:</label>
    <input type="file" accept="image/*" name="image" required />
    <label for="title">Stock Name</label>
    <input type="text" name="title" id="title" required maxlength="50" minlength="10"/>
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" id="quantity" step="1" required />
    <label for="supplier">Supplier Details</label>
    <input type="text" name="supplier" id="supplier" required maxlength="50" minlength="10"/>
    <label for="notes">Additional Information</label>
    <textarea
      name="description"
      id="description"
      placeholder="Any additional information about stock (supplier details, stock details etc.)"
      maxlength="255"
    ></textarea>
    <label for="price">Price per unit (£)</label>
    <input
      type="number"
      name="price"
      id="price"
      step="0.01"
      required
      placeholder="£"
    />
    <input type="submit" value="Add stock" />
  </form>
</section>
{% endblock content %}
