{% extends 'layout.html' %} {% block content %}
<section class="all-stock-page-intro">
  <h1>All products</h1>
  <p>Here you can view all the products you have in the inventory</p>
</section>
<section class="all-stock-grid">
  {% for stock in stocks %}
  <div class="stock-item">
    <img src="{{stock.image_url}}" alt="{{stock.description}}" />

    <div class="stock-item-info">
      <p>ID:</p>
      <p>{{stock.stock_id}}</p>
    </div>
    <p>{{stock.description.title()}}</p>
  </div>
  {% endfor %}
</section>
{% endblock content %}
