{% extends 'layout.html' %} {% block content %}
<div class="space"></div>
<section class="dashboard-page-intro">
  <h2>Dashboard</h2>

  <div class="dashboard-image">
    {% if business.logo_url %}
    <img src="{{business.logo_url}}" alt="{{ business.business_name }}" />
    {% else %}
    <img
      src="https://placehold.co/500x500?text=Please+upload+business+logo"
      alt="Upload business logo"
    />
    {% endif %}
  </div>
  <div class="space"></div>
  <div class="dashboard-intro">
    {% if new_user %}
    <div>
      <h3>Username:</h3>
      <p><strong>{{user.username}}</strong></p>
      <p>
        <i>Please keep a copy.</i>
      </p>
    </div>
    {% else %}
    <div>
      <p>Welcome back {{user.first_name.capitalize()}}!</p>
    </div>
    {% endif %} {% if user.role in ['owner', 'manager'] %}
    <div>
      <h3>Daily Password:</h3>
      <p><strong>{{ business.daily_password }}</strong></p>
    </div>
    {% endif %}
  </div>
</section>
<hr />
<div class="space"></div>
{% if user.role == 'owner' %}
<section class="inventory-details">
  <table>
    <thead>
      <tr>
        <td>Total Stock</td>
        <td>Returned</td>
        <td>Damaged</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{total_stock}}</td>
        <td>{{total_returned}}</td>
        <td>{{total_damaged}}</td>
      </tr>
      <tr>
        <td class="available">£{{"%.2f"|format(total_price) or '0.00'}}</td>
        <td class="returned">
          £{{"%.2f"|format(total_return_price) or '0.00'}}
        </td>
        <td class="damaged">
          £{{"%.2f"|format(total_damage_price) or '0.00'}}
        </td>
      </tr>
    </tbody>
  </table>
</section>
<div class="space"></div>
<section>
  <div class="options-grid">
    <a class="option" href="{{ url_for('add_stock') }}">
      <p>New stock</p>
    </a>
    <a class="option" href="{{ url_for('all_stock') }}">
      <p>Manage Inventory</p>
    </a>
    <a class="option" href="{{ url_for('add_employee') }}">
      <p>Add user</p>
    </a>
    <a class="option" href="{{ url_for('manage_employees') }}">
      <p>Manager users</p>
    </a>
    <a class="option" href="{{ url_for('business_logs') }}">
      <p>All Logs</p>
    </a>
  </div>
</section>
{% elif user.role=='manager'%}
<section class="inventory-details">
  <table>
    <thead>
      <tr>
        <td>Returned</td>
        <td>Damaged</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{total_returned}}</td>
        <td>{{total_damaged}}</td>
      </tr>
      <tr>
        <td class="returned">
          £{{"%.2f"|format(total_return_price) or '0.00'}}
        </td>
        <td class="damaged">
          £{{"%.2f"|format(total_damage_price) or '0.00'}}
        </td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="options-grid">
    <a class="option" href="{{ url_for('add_stock') }}">
      <p>New stock</p>
    </a>
    <a class="option" href="{{ url_for('all_stock') }}">
      <p>Manage Inventory</p>
    </a>
    <a class="option" href="{{ url_for('manage_employees') }}">
      <p>Manager users</p>
    </a>
  </div>
</section>
{% elif user.role == 'employee'%}
<section>
  <div class="options-grid">
    <a class="option" href="{{ url_for('add_stock') }}">
      <p>New stock</p>
    </a>
    <a class="option" href="{{ url_for('all_stock') }}">
      <p>Manage Inventory</p>
    </a>
  </div>
</section>
{% endif %} {% endblock content %}
