{% extends 'layout.html' %} {% block content %}
<section class="dashboard-page-intro">
  <h1>Dashboard</h1>
  {% if new_user %}
  <h2>Username Generated, please keep it safe:</h2>
  <p><strong>{{user.username}}</strong></p>
  <p>
    <i
      >Please keep a copy of your username - this message will disappear
      tomorrow.</i
    >
  </p>
  {% else %}
  <p>Welcome back {{user.first_name.capitalize() }}!</p>
  {% endif %} {% if user.role in ['owner', 'manager'] %}
  <h2>Daily Password:</h2>
  <p><strong>{{ business.daily_password }}</strong></p>
  <p><i>Daily password is reset everyday.</i></p>
  {% endif %}
</section>

{% if user.role == 'owner' %}
<section>
  
</section>
{% elif user.role=='manager'%}
<section>
  <p>if role is manager</p>
</section>
{% elif user.role == 'employee'%}
<section>
  <p>if role is employee</p>
</section>
{% endif %} {% endblock content %}
