{% extends 'layout.html' %} {% block content %}
<section class="dashboard-page-intro">
  <div class="dashboard-image">
    {% if business.logo_url %}
    <img src="{{business.logo_url}}" alt="{{ business.business_name }}" />
    {% else %}
    <img
      src="https://placehold.co/500x500?text=Please+upload+business+logo"
      alt="Upload business logo"
    />
    {% endif %}
  </div>

  <h1>Dashboard</h1>
  {% if new_user %}
  <h2>Username Generated, please keep it safe:</h2>
  <p><strong>{{user.username}}</strong></p>
  <p>
    <i
      >Please keep a copy of your username - this message will disappear
      tomorrow.</i
    >
  </p>
  {% else %}
  <p>Welcome back {{user.first_name.capitalize() }}!</p>
  {% endif %} {% if user.role in ['owner', 'manager'] %}
  <h2>Daily Password:</h2>
  <p><strong>{{ business.daily_password }}</strong></p>
  <p><i>Daily password is reset everyday.</i></p>
  {% endif %}
</section>

{% if user.role == 'owner' %}
<section>
  <!-- This should have all the stats for the inventory (totals), for each stock it would have it's own stock page also -->
</section>
{% elif user.role=='manager'%}
<section>
  <p>if role is manager</p>
</section>
{% elif user.role == 'employee'%}
<section>
  <p>if role is employee</p>
</section>
{% endif %}
<section>
  <h3>Options</h3>
  <div class="options-grid">
    <a class="option" href="{{ url_for('add_stock') }}"><p>Add new stock</p></a>
    <a class="option" href="{{ url_for('all_stock') }}"><p>All stock</p></a>
  </div>
</section>
{% endblock content %}
