{% extends 'layout.html' %} {% block content %}
<section class="stock-page-header">
  <h1>{{stock.title.title()}}</h1>
  <p>Here you can update, modify, delete a stock record</p>
  <img src="{{stock.image_url}}" alt="{{stock.title.title()}}" />
  <p><i>Existing data will be replaced!</i></p>
</section>
<section class="stock-page-info-section">
  <form
    action="{{url_for('stock_page', stock_id=stock.stock_id)}}"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <label for="image">Update stock image:</label>
    <input type="file" accept="image/*" name="image" />
    <label for="supplier">Update stock title:</label>
    <input
      type="text"
      name="title"
      id="title"
      placeholder="{{stock.title.title()}}"
    />
    <label for="description">Update stock description:</label>
    <textarea
      name="description"
      id="description"
      placeholder="{{stock.description.title()}}"
    ></textarea>
    <label for="supplier">Update Supplier:</label>
    <input
      type="text"
      name="supplier"
      id="supplier"
      placeholder="{{stock.supplier.title()}}"
    />
    <label for="available">Total available:</label>
    <input
      type="number"
      name="available"
      id="available"
      step="1"
      placeholder="{{stock.available}}"
    />
    <label for="returned">Total returned:</label>
    <input
      type="number"
      name="returned"
      id="returned"
      step="1"
      placeholder="{{stock.returned}}"
    />
    <label for="damaged">Total damaged:</label>
    <input
      type="number"
      name="damaged"
      id="damaged"
      step="1"
      placeholder="{{stock.damaged}}"
    />

    <label for="price">Stock price:</label>
    <input
      type="number"
      name="price"
      id="price"
      step="0.01"
      placeholder="£{{stock.price}}"
    />
    <input type="submit" value="Update Stock" />
  </form>
  <div class="space"></div>
  <form
    action="{{url_for('delete_stock', stock_id=stock.stock_id)}}"
    method="post"
  >
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <input type="submit" value="Delete Stock" />
  </form>
</section>
{% endblock content %}
