.all-stock-page-intro{
    text-align: center;
}

.all-stock-grid{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    gap: 10px;
}

.stock-item{
    border:1px solid white;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stock-item img{
    width: 50px;
    border-radius: 5px;
}

.stock-item-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock-item:hover{
    box-shadow: 0 0 1px black;
}

.search-stock-form{
    display: flex;
}


/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {
    .all-stock-grid {
            grid-template-columns: repeat(2, 1fr);
        }
}

/* Desktop */

@media screen and (min-width: 1000px) {
    .all-stock-grid{
        grid-template-columns: repeat(5, 1fr);
    }

    .stock-item{
        flex-direction: column;
        gap: 10px;
    }
}