.settings-page-intro{
    text-align: center;
    align-items: center;
}

.settings-page-intro img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.settings-page-form-section{
    padding: 5px;
}


/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {}

/* Desktop */

@media screen and (min-width: 1000px) {}