.stock-page-header{
    text-align: center;
}

.stock-page-info-section:nth-child(1){
    text-align: center;
}

.stock-page-info-section img{
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {

}

/* Desktop */

@media screen and (min-width: 1000px) {

}