<div class="footer-main">
  <div class="footer-left">
    <a href="{{ url_for('home_page') }}">
      <img
        src="{{ url_for('static', filename='media/logo.png') }}"
        alt="VenTory Logo"
      />
      <div>
        <h1>VenTory</h1>
        <p>Online Inventory Management</p>
      </div>
    </a>
  </div>
  <div class="footer-middle"></div>
  <div class="footer-right">
    <table>
      <caption>
        Quick Links
      </caption>
      <tbody>
        <tr>
          <td>Home</td>
        </tr>
        <tr>
          <td>About</td>
        </tr>
        <tr>
          <td>Contact</td>
        </tr>
        <tr>
          <td>Pricing</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Portfolio Purposes Only</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
