<div class="header">
  <a href="{{ url_for('home_page')}}">
    <div class="header-logo-div">
      <img
        src="{{ url_for('static', filename='media/logo.png') }}"
        alt="Ventury Logo"
      />
      <h1>VenTory</h1>
    </div>
  </a>
  <nav>
    <div class="mobile-nav-button">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="navigation-bar">
      <div class="nav-item">
        <p>Home</p>
        <span class="nav-item-bottom"></span>
      </div>
      <div class="nav-item">
        <p>About</p>
        <span class="nav-item-bottom"></span>
      </div>
      <div class="nav-item">
        <p>Pricing</p>
        <span class="nav-item-bottom"></span>
      </div>
      <div class="nav-item">
        <p>Login</p>
        <span class="nav-item-bottom"></span>
      </div>
    </div>
  </nav>
</div>
