<div class="header">
  <a href="{{ url_for('home_page')}}">
    <div class="header-logo-div">
      <img
        src="{{ url_for('static', filename='media/logo.png') }}"
        alt="Ventury Logo"
      />
      <h1>VenTory</h1>
    </div>
  </a>
  <nav>
    <div class="mobile-nav-button">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="navigation-bar">
      {% if session.get('user_id') %}
      <div class="nav-item">
        <a href="{{ url_for('dashboard') }}"><p>Dashboard</p></a>
        <span class="nav-item-bottom"></span>
      </div>
      {% if user is defined and user.role == 'owner' %}
      <div class="nav-item">
        <a href="{{ url_for('owner_settings') }}"><p>Account Settings</p></a>
        <span class="nav-item-bottom"></span>
      </div>
      {% else %}
      <div class="nav-item">
        <a href="{{ url_for('user_settings') }}"><p>Account Settings</p></a>
        <span class="nav-item-bottom"></span>
      </div>
      {% endif %}
      <div class="nav-item">
        <a href="{{ url_for('logout') }}"><p>Logout</p></a>
        <span class="nav-item-bottom"></span>
      </div>
      {% else %}
      <div class="nav-item">
        <a href="{{ url_for('home_page') }}"><p>Home</p></a>
        <span class="nav-item-bottom"></span>
      </div>
      <div class="nav-item">
        <a href="{{ url_for('about_page') }}"><p>About</p></a>
        <span class="nav-item-bottom"></span>
      </div>
      <div class="nav-item">
        <a href="{{ url_for('home_page') }}#home-features"><p>Features</p></a>
        <span class="nav-item-bottom"></span>
      </div>
      <div class="nav-item">
        <a href="{{ url_for('login_page') }}"><p>Login</p></a>
        <span class="nav-item-bottom"></span>
      </div>
      {% endif %}
    </div>
  </nav>
</div>
