.error-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {

    
}

/* Desktop */

@media screen and (min-width: 1000px) {


}