.register-page-intro{
    text-align: center;
}

.register-form > div{
    display: flex;
    gap: 10px;
}

/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {

}

/* Desktop */

@media screen and (min-width: 1000px) {

}