.register-page-intro{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.register-form{
    padding: 5px;
}

.register-form > div{
    display: flex;
    gap: 10px;
}



/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {

}

/* Desktop */

@media screen and (min-width: 1000px) {

}