{% extends 'layout.html' %} {% block content %}
<section class="login-page-intro" id="login-page-intro">
  <h2>Reset Password</h2>
  <p>
    Please enter your username and your daily password provided to you by your
    manager.
  </p>
</section>
<section class="login-form-section hidden-right">
  <div>
    <p class="form-error"></p>
  </div>
  <form action="/forgotten-password" method="post" class="login-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input
      type="text"
      name="username"
      id="username"
      required
      minlength="9"
      maxlength="9"
      placeholder="Username"
    />
    <input
      type="password"
      name="password"
      id="password"
      required
      minlength="10"
      maxlength="20"
      placeholder="Daily password"
    />
    <input type="submit" value="Reset Password" />
  </form>
</section>
{% endblock content %}
